:root{
  --bg: #f7fafc;
  --text: #1f2937;
  --brand: #0f766e;
  --accent: #ef4444;
}
*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}
img{
  display:block;
  max-width:100%;
}
button{
  font: inherit
}